<article class="job-card">
    <div class="card-inner">

        <!-- Logo -->
        <div class="card-logo">
            <img [src]="job.companyLogoUrl" [alt]="job.companyName + ' logo'" />
        </div>

        <!-- Content -->
        <div class="card-body">

            <!-- Header: title, company, location, posted-at -->
            <header class="job-header">
                <div>
                    <h2 class="job-title">{{ job.title }}</h2>
                    <div class="job-meta">
                        <span class="job-company">{{ job.companyName }}</span>
                        <span class="meta-dot"></span>
                        <span class="job-location">{{ job.country }}, {{ job.city }}</span>
                    </div>
                </div>
                <span class="job-posted">Posted {{ job.postedAtUtc | date:'mediumDate' }}</span>
            </header>

            <!-- Tags: location type / job type / level -->
            <div class="job-tags">
                <span class="tag">{{ job.jobType }}</span>
                <span class="tag">{{ job.locationType }}</span>
                <span class="tag">{{ job.experienceLevel }}</span>
            </div>

            <!-- Description -->
            <p class="job-desc">{{ job.description | slice: 0: 260 }} ...</p>

            <!-- Skills -->
            <footer class="job-footer">
                <div class="job-skills">
                    @for (skill of job.skills | slice: 0: 9; track skill) {
                    <span class="skill-chip">{{ skill }}</span>
                    }
                </div>
                <!-- Actions: apply, save -->
                <div class="job-actions">
                    @if(job.isApplied){
                    <span class="applied-badge">Applied</span>
                    }@else{
                    <p-button label="Apply Now" styleClass="apply-btn" (onClick)="onApply()">
                    </p-button>
                    }

                    <button type="button" class="bookmark-btn" (click)="onBookmark($event)" aria-label="Bookmark job">
                        <span class="material-symbols-outlined"
                            [ngClass]="{'filled-bookmark': _isSaved}">bookmark</span>
                    </button>
                    <p-confirmPopup />

                </div>
            </footer>

        </div>
    </div>
</article>