<main class="saved-jobs-page">
    @for (job of (savedJobs | async) | slice:first:(first + rows); track job.id) {
    <app-job-card [job]="job" (saveToggled)="onBookmarkClick($event)" (applyClicked)="onApply($event)"></app-job-card>
    }
    @empty {

    }

    <!-- Pagination -->
    <div class="pagination-container">
        <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows"
            [totalRecords]="_savedJobService.TotalCount" [showJumpToPageDropdown]="false" />
    </div>

</main>